@import './variables';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
    -o-tap-highlight-color: rgba(0, 0, 0, 0);
    text-transform: uppercase;
}

body {
    display: block;
    // max-width: 1100px;
    // margin: 0 auto;
    background-color: #eee;
}

button {
    outline: none;
    border: none;
    background-color: #111;
    height: 4.5rem;
    width: 17.25rem;
    font: bold 1.25rem Montserrat;
    color: $light;

    &:active {
        transform: scale(0.95);
    }
}

h1 {
    font: bold $h1 Montserrat;
    margin-bottom: 30px;
    color: $dark;

    &.main-heading {
        font-size: $main-heading;
        color: $light;
    }
}

h1.dash {

    margin-bottom: 0;

    &::after {
        height: 4px;
        width: 90px;
        content: '';
        display: block;
        margin: 1.25rem auto 3.125rem auto;
    }
}

p {
    font: 400 $text Lato;
    line-height: 1.6;

    &:not(:first-child) {
        margin-bottom: 50px;
    }

    &.lower {
        text-transform: none;
    }
}