@import './variables';
@import './global';
@import './mobile';


.wide-wrapper {
    width: 100%;
    background: url("../images/wide-pc.png") no-repeat 50% 50% / cover;
    height: 490px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.wrapper {
    display: flex;
    max-width:916px;
    background-color: rgba(1, 1, 1, 0.65);
   

    .heading {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0 20px;
        letter-spacing: 2px;
    }

    img {
        height: auto;
        width: 332px;
    }
}

@media(max-width: 1150px) {
    .wrapper {
        height: 100%;
        background-color: rgba(1, 1, 1, 0.35);
       

        img {
            display: none;
        }

        .heading {
            .main-heading {
                font-size: 2.2rem;
            }
        }
    }
}
@media(max-width: 600px) {
    .wrapper {

        .heading {

            .main-heading {
                font-size: 2rem;
            }
        }
    }
}

.about {
    background-color: $dark;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $dark;
    min-height: 85vh;
}

@media(max-width: 600px) {
    .about {
        padding: 5px;
        min-height: auto;
       
        .container {
            width: 100%;
        }
    }
}

.brands, .services {
    padding: 80px 0;
    text-align: center;

    p {
        margin-bottom: 100px;
    }

    .images {
        display: flex;
        justify-content: space-around;
    }
}

@media(max-width: 600px) {
    .brands, .services {
        padding: 30px 0;

        p {
            margin-bottom: 35px;
        }
    }
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container:not(:last-child) {
    margin-bottom: 80px;
}

.container:not(:first-child) p.lower {
    margin-bottom: 40px;
}

@media(max-width: 600px) {
    .container:not(:last-child) {
        margin-bottom: 30px;
    }
}

footer {
    background-color: $dark;
    color:$light;
    padding: 80px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    h1 {
        color: $light;
    }

    .content {

        
        ul {
            list-style: none;
            display: flex;

            li {
                margin-right: 20px;

                img {
                    transform: scale(0.8);
                }
            }
        }
    }
}

@media(max-width: 600px) {
    footer {
        padding: 30px 0;
        flex-direction: column;

        .content {
            margin-bottom: 20px;

           ul li img {
                transform: scale(0.6);
            }
        }
    }
}
